---
version: '2'
services:
  jenkins:
    image: ${DOCKER_IMAGE}
    container_name: ${SERVICE_NAME}
    hostname: ${SERVICE_NAME}
    volumes:
      - ${JENKINS_DATA_DIR_EXTERNAL}:/bitnami/jenkins 
    ports:
      - ${JENKINS_HTTP_PORT_EXTERNAL}:8080
      - ${JENKINS_HTTPS_PORT_EXTERNAL}:8443
      - ${JENKINS_COM_PORT_EXTERNAL}:50000
    environment:
      - JENKINS_USERNAME
      - JENKINS_PASSWORD
    restart: unless-stopped
    network_mode: bridge
